.movies-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ccc;
}

.movies-table th, .movies-table td {
  padding: 12px 15px;
}

.movies-table th {
  background-color: #f2f2f2;
}

.movies-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.movies-table tr:hover {
  background-color: #f1f1f1;
}

.movies-table td {
  border: 1px solid #dddddd;
}